body {
  font-family: 'Segoe UI';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;  
}

html {
  height: 100%; /* Ensures that the html element also takes up the full height */
}
h1{
  padding: 10px;
}
.TopBar{
  display:flex;
  flex-direction: column;
  width: 800px;
  gap: 5px
}


.todos{
  background-color: #fbe2d5;
  border-radius: 10px;
  gap: 5px;
  width: 800px;
  display: flex;
  justify-content: space-between;
}


button{
  font-weight: bolder;
  border-radius: 8px;
  cursor: pointer;
}

button:hover{
  background-color: white;
}


#text-box{
  height:40px;
  border-radius: 10px;
  font-size: 15px;
  padding-left: 10px;
}

.additionalBtns{
  margin: 20px;
}

.todos h3{
  padding-left: 10px;
  flex: 1;
  
}  

#add-btn{
  background-color: orange;
  height: 40px;
  margin-bottom: 20px;
  font-size: 15px;
}
#add-btn:hover{
  background-color: white;
}
#updateBtn{
  background-color: skyblue;
}
#updateBtn:hover{
  background-color: white;
}
#deleteBtn{
  background-color: #ff8080;
}
#deleteBtn:hover{
  background-color: white;
}
